body {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    height: 80px;
    /* background-color: orange; */
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 40px;
    border-bottom: 1px solid black;
}
.header-name {
    /* display: inline-block; */
    font-size: 42px;
    font-family: DotGothic16;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.header-side {
    /* display: inline-block; */
    margin: 0;
    padding: 0;
}
.header-side-name {
    display: inline-block;
    font-family: DotGothic16;
    font-size: 28px;
    font-weight: 400;
    margin: 8px;
    padding: 0;
    text-decoration: none;
    color: black;
}

.content1 {
    margin: 0;
    padding: 0 40px;
    border-bottom: 1px solid black;
}
.content1-top {
    margin: 0 0 70px 0;
    padding: 0;
}
.content1-heading {
    font-size: 120px;
    font-family: DotGothic16;
    text-align: center;
    line-height: 120px;
    font-weight: 400;
}
.content1-img {
    width: 100%;
}
.content1-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content1-portfolio {
    /* display: inline-block; */
    font-size: 48px;
    font-weight: 400;
    font-family: DotGothic16;
    /* text-wrap: nowrap; */
    width: 40%;
}
.content1-portfolio-desc {
    /* display: inline-block; */
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-family: Archivo;
    width: 40%;
}
.content2 {
    margin: 0;
    padding: 0 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.project {
    width: 416px;
    height: 333px;
    transition: transform 0.3s ease;
}
.project:hover {
    transform: translateY(-5px);
}
.project-img {
    width: 416px;
    height: 277px;
}
.project-details {

}
.project-name {
    font-family: Archivo;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
.project-desc {
    font-family: Archivo;
    font-size: 17px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
.content3 {
    margin: 50px 0 0 0;
    padding: 0 40px;
    height: 250px;
    display: flex;
    justify-content: right;
}
.about {
    margin: 0;
    padding: 0;
    height: 154px;
    width: 40%;
    font-size: 20px;
    line-height: 28px;
    font-family: Archivo;
    font-weight: 400;
}
.content4 {
    margin: 0;
    padding: 0 240px;
}
.content4-text {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DotGothic16;
    font-weight: 400;
    font-size: 58px;
    line-height: 60px;
    text-align: center;
}
.content5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px 0 100px 0;
}
.content5-contact {
    margin: 50px 0 0 0;
    padding: 0;
    font-family: DotGothic16;
    font-size: 28px;
    font-weight: 400;
}
.content5-text {
    margin: 10px 0 0 0;
    padding: 0;
    font-family: Archivo;
    font-size: 15px;
}
.content5-boxes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.content5-box {
    height: 64px;
    width: 56px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}
.content5-submit {
    width: 400px;
    background-color: #2419F3;
    color: white;
    text-align: center;
    font-family: Archivo Narrow;
    padding: 8px 16px;
    font-size: 15px;
    margin: 20px 0;
    transition: all 0.5s;
}
.content5-submit:hover {
    cursor: pointer;
    background-color: #140cb3;
}
.content5-skip {
    font-family: Archivo Narrow;
    color: #2419F3;
    font-size: 15px;
    transition: all 5s ease;
}
.content5-skip:hover {
    cursor: pointer;
    text-decoration: underline;
}
.content6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    margin: 0;
}
.content6-msg {
    font-family: DotGothic16;
    font-size: 120px;
    font-weight: 400;
    text-align: center;
}
.content6-img {
    width: 100%;
}
.footer {
    margin: 50px 0 0 0;
    padding: 0;
}
.footer-content {
    padding: 50px 40px 20px;
    display: flex;
    justify-content: space-between;
}
.footer-trademark {
    display: inline-block;
    font-family: DotGothic16;
    font-size: 28px;
    font-weight: 400;
}
.footer-contact {
    display: flex;
    border: 1px solid black;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.footer-contact:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
.footer
.footer-contact-text {
    margin: 0;
    font-family: Archivo Narrow;
    font-size: 20px;
    line-height: 24px;
}